.tracks {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-around;
}

.track--list {
    
    background-color: black;
    border: 1.5px solid coral;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 8px;
    flex: 0 0 25%;
    
}

.form-group {
    color: rgb(188, 182, 182);
    background-color: black;
    border: 1.5px solid coral;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 8px;
    flex: 0 0 25%;
   
}

.song_artist_label {
    margin-left: 0.5rem;
}

.form-control {
    width: 20em;
    height: 1.5em;
    position: relative;
}

.delete__track {
    margin-left: auto;
    margin: 0.5rem;
   
}

.editTrackButton {
    margin-left: auto;
    margin: 0.5rem;
    
}

.save__changes {
   
        color: white;
        font-family: "Comfortaa", Arial, sans-serif;
        font-size: 14px;
        margin: 0.5rem;
        line-height: 1.5;
      
}

.submit_track_button {
    margin-left: auto;
    margin: 0.5rem;
    
   
}

.search_bar_input {
    border-radius: 4px;
    color:rgb(101, 101, 101);
   
    
}

.select_dropdown {
    color: rgb(101, 101, 101);
}